{% extends "base.html" %}

{% block content %}
<div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 fw-bold mb-4">Master Your Exams with Quiz Master</h1>
                <p class="lead mb-4">The ultimate platform for exam preparation</p>
                <div class="d-flex gap-3">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('user.dashboard') }}" class="btn btn-light btn-lg">Go to Dashboard</a>
                    {% else %}
                        <a href="{{ url_for('auth.register') }}" class="btn btn-outline-dark btn-lg">Get Started</a>
                        <a href="{{ url_for('auth.login') }}" class="btn btn-outline-dark btn-lg">Login</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <img src="{{ url_for('static', filename='images/image-1.png') }}" alt="Learning Illustration" class="img-fluid">
            </div>
        </div>
    </div>
</div>


<div class="bg-light py-5 mt-5">
    <div class="container text-center">
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg px-4">
            Sign Up
        </a>
    </div>
</div>
{% endblock %}